.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formCard {
  background-color: #fff;
  box-shadow: 0px 10px 30px #00000029;
  border-radius: 30px;
  padding: 2rem 2.5rem;
  margin-bottom: 4rem;
  width: 100%;
}

.formTitle {
  color: #18558b;
  font-size: 2.6rem;
  line-height: 3.5rem;
  margin-bottom: 5rem;
}

.formLabel {
  color: #606060;
  font-size: 1.5rem;
  white-space: nowrap;
}
.formLabel:after {
  content: "*";
  margin-left: 3px;
}

.formInput {
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  height: 4rem;
  border-left: none;
  font-size: 1.5rem;
}

.formInput[type="select"] {
  border: 1px solid #c1c1c1;
}

.btn {
  margin-top: 2rem;
  padding: 1rem 4rem;
  font-size: 2rem;
  color: #fff;
  background: #55cb43;
  border-radius: 8px;
  border: none;
}
