.heroContainer {
  min-height: 95vh;
  background: url("/hero_image_green.png") no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 15px 30px #00000029;

  display: flex;
  align-items: center;
  color: #fff;
  letter-spacing: 0px;
}

.title {
  font: normal normal 600 6.5rem Segoe UI;
  margin-bottom: 6.5rem;
}

.desc {
  font: normal normal normal 3rem/5rem Segoe UI;
}
