.navbar {
  height: 17.6rem;
  font-size: 2.8rem;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.4s ease-in-out;
  z-index: 99;
}

.container {
  max-height: 100%;
}

.navbarBrand {
  max-height: 100%;
  background: #ffffff;
  box-shadow: 0px 10px 25px #00000029;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  height: 17.6rem;
  transition: all 0.4s ease-in-out;
  padding: 0 7.8rem;
  display: flex;
  align-items: center;
}

.logo {
  max-height: 100%;
}

.navLink {
  color: #ffffff !important;
  margin-right: 3rem;
  cursor: pointer;
}

.navLinks {
  margin-left: auto;
  /* min-width: 65%; */
  /* justify-content: space-between; */
}

.navScrolled {
  background: black;
  height: 10rem;
}
